<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span style="margin: 20px;">Paperless </span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>

<form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
    <mat-label>Year</mat-label>
    <input type="number" maxlength="2" minlength="2" matInput placeholder="Month" [(ngModel)]="selectedMonth"  id="month" name="month" required >
    </mat-form-field>
    <mat-form-field class="example-full-width">
    <mat-label>Month</mat-label>
    <input type="number" matInput placeholder="Year" id="year" name="year" [(ngModel)]="selectedYear">
    </mat-form-field>
    <button type="submit" mat-raised-button>Submit</button>
</form>
<!-- <div *ngIf="currencyResult">
    <div> MAX: {{ currencyResult.max}}</div><br>
    <div> MIN: {{ currencyResult.min}}</div><br>
</div> -->
<table *ngIf="currencyResult" mat-table [dataSource]="currencyResult.graph | keyvalue" > 
<!-- class="mat-elevation-z8" -->
    <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">{{element.key | date:'shortDate'}} </td>
      </ng-container>
    

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        
        <td mat-cell *matCellDef="let element"  [ngClass]="{'max': element.value == currencyResult.max, 'min': element.value == currencyResult.min}"> {{element.value | currency:'ILS':'symbol-narrow': '.5-5' }}</td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
    <tr
    mat-row
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: ['key', 'value'];"
></tr>
</table>

